Hi {name}!

I tried to call you but seems like you're not available. 
Actually, I wanted to talk with you about Apnabusiness, an end-to-end business solution for entrepreneurs like you to go on grow your business!
I found you online and really loved what you're doing at {name} & am sure Apnabusiness will really help you with your business. 

Here's a brief intro about Apnabusiness:

We're a startup based out of Bangalore & our mission is to empower independent businesses and help them grow.

We help independent businesses by:

🚀 Creating a sleek & *beautiful website* (Sample website for you: https://{url})
💸 Handling their *online payments*
📦 Providing seamless Catalogue, Order & Delivery *management tools*
🤝 Catering to any issues with a *dedicated support team*
🌟 Bringing in *new customers* for them via referrals & loyalty based features
 
We charge *_0% commission_* so you make maximum profits!. 
We are working with several sellers in Bangalore, significantly helping them to grow & manage their business. 

You can find out more about our entire suite of solutions at https://apnabusiness.app.

You can also directly start customizing your pre-generated shop (https://{url}) by downloading the app from https://bit.ly/apna-business-app.

Also, let me know if we can schedule a short 10min call to discuss this in details?
You can reply here.

Have a great day! Thanks!
